.menucontainer{
    height: 50px;
    background-color: aliceblue;
    position: fixed;
    margin: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
}

.logoimg {
    height: 100%;
    width: auto;

}

.itemcontainer{
    width: 120px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: grey;

}

.topMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other elements */
    background-color: #ffffff; /* Match the background color for a clean look */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for separation */
    padding: 10px 20px; /* Adjust padding as needed */
}